img {
    height: 200px;
    width: 200px;
}
.color-title {
    font-size: 20px;
    font-weight: normal
}

#red {
    color: red;
}

#blue {
    color: blue;
}

#orange{ 
    color: orange;
}

#green {
    color: green;
}

#yellow {
    color: yellow;
}